.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(2, 2, 78);
}

.card {
  color: white;
}

.chars {
  font-size: xxx-large;
  font-weight: 900;
}

.card:hover {
  color: tomato;
}
