.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: tomato;
  width: 500px;
  padding: 20px;
  border-radius: 20px;
  clip-path: circle(8.3% at 95% 6%);
  transition: ease;
  transition-duration: 2s;
}

.card:hover {
  clip-path: circle(85.6% at 43% 36%);
}
