.btn {
  border: 2px solid tomato;
  background-color: transparent;
  padding: 10px 20px;
  position: relative;
  overflow: hidden;
  color: tomato;
  font-weight: bold;
}

.btn:hover {
  color: white;
}

.btn::after {
  content: "";
  background-color: tomato;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  transition-duration: 500ms;
  z-index: -1;
  transform: translateX(100%);
}

.btn:hover:after {
  transform: translateX(0);
}
